{% extends 'base.html' %}


{% block content %}

<div class="container mt-4">
    
    <div class="p-3 m-3">

        
        <div class="col-lg-5 rounded mx-auto border pt-4">
            <div class="text-center col">
            <!--AGREGAR IMAGEN AQUI-->
            <!-- <hr> -->
            <hr>
            </div>
            <h3 class="alert alert-success rounded-pill" style="text-align:center">Create an Account</h3>
            <form action="/signup" method="POST">
                
                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <!-- firstname -->
                <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" name="firstname"
                     id="" value="{{values.first_name}}" class="form-control form-control-sm" 
                     placeholder="">
                </div>

                <!-- last name -->
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" name="lastname" 
                    id="" value="{{values.last_name}}" class="form-control form-control-sm"
                    >
                </div>

                <!-- phone -->
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone" 
                    id="" class="form-control form-control-sm"
                    value="{{values.phone}}"
                    placeholder="XXXXXXXXXX"
                    >
                </div>
                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id=""
                    value="{{values.email}}" 
                    class=" form-control-sm form-control" placeholder="abc@gmail.com">
                </div>

                <!-- country and city -->
                <div class="form-group" style="margin-top: 2rem;">
                    <label for=""> Country </label>
                    <select  style="width: 8rem;" name = 'country'>
                        {% for country in countries %}
                        <option value="{value.country.name}" >
                            <a href="/?country={{country.id}}"
                            class="list-group-item list-group-item-action btn btn-outline-success ">{{country.name}}</a> 
                        </option>
                        {% endfor %}
                    </select>

                    <label for="" style="margin-left: 2rem;"> City </label>
                    <select name="city" style="width: 8rem;">
                        
                        {% for city in cities %}

                        <option value=""> <a href="/?city={{city.id}}"
                            class="list-group-item list-group-item-action btn btn-outline-success ">{{city.name}}</a> </option>
                        {% endfor %}
                    </select>

                    <!-- address -->
                    <div class="form-group">
                        <label for=""><Address></Address></label>
                        <input required type="text" name="address" id=""
                        class=" form-control-sm form-control" placeholder="abc@gmail.com">
                    </div>

                </div>

                <!-- Date -->
                <div class="form-group">
                    <label for="">Date of birth</label>
                    <input type="date" 
                    name="date" 
                    id=""
                     class="form-control form-control-sm"
                     value="{{values.date}}">  
                </div>

                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" 
                    name="password" 
                    id=""
                     class="form-control form-control-sm">
                </div>

                <div class="form-group">
                    <label for="">Confirm Password</label>
                    <input type="password" 
                    name="confirmpassword" 
                    id=""
                     class="form-control form-control-sm">
                </div>

                <!--Checkme button-->
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label d-grid gap-2" for="exampleCheck1">Check me out</label>
                </div>
                <hr>
                <button type="submit" class="btn btn-sm btn-success col-lg-12">Create an account</button>

            </form>
        </div>
    </div>
</div>

{% endblock %}